<mat-card>
    <div *ngIf="cartItems$ | async;  else elseBlock">
        <table>
            <tr *ngFor="let item of ( cartItems$ | async )">
                <td>
                    <img (click)="openDialog(item.product)" [src]="item?.product?.thumbnail" width="50">
                </td>
                <td>
                    {{item?.product?.title | slice:0:35 }}<br>
                     <div>Amount: {{item?.count}}</div>
                     <div>
                        <button mat-button style="margin-right: 20px;" (click)="more(item)"> + </button>
                        <button mat-button (click)="less(item)"> - </button>
                    </div>
                </td>
                <td>
                    {{item.count * item.product.price | number : '1.2-2'}}€
                </td>
            </tr>
            <tr>
                <td> Total </td> 
                 <td> </td>
                 <td>{{totalPrice$ | async | number : '1.2-2'}}€</td>
            </tr>
        </table>
       <div style="margin-top: 10px;"> 
        <button mat-button (click)="removeAll()"> Remove all items</button>
        </div>
    </div>
    <ng-template #elseBlock>Shopping cart is empty!</ng-template>
</mat-card>
