.cart{
    position:absolute;
    top: 35px;
    right: 45px;
    background-color: #fff;
    color: #24292e;
    border: #c2c3c4 1px solid;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    min-width: 200px;
  }

.nav__icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.basket{
    margin-top:20px;
    margin-right:20px; 
    cursor: pointer;  
}
table{
    min-width: 200px;
}
tr td{
    padding: 5px;
    border-bottom: 1px solid #c2c3c4;
}

button{
    cursor: pointer;
}