<mat-card class="detail-div" *ngIf="dialogData">
  <div class="grid2">
    <div style="margin-left: 15%;"><img [src]="dialogData?.thumbnail" width="250"> </div>
    <div style="margin-left:15%">
      <div style="margin-top:10px; min-height: 38px;font-weight: bold;">{{dialogData?.title }}</div>
      <div>
        <div class="title-price">{{dialogData?.price}}{{dialogData?.currency}}</div>
        <div style="font-size:small;">Price incl. {{(dialogData.price * 0.07) | number : '1.2-2'}} € (7%) VAT</div>
      </div>
      <div>
        <button mat-button class="basket-btn"> Add to Basket</button>  
      </div>
      <div style="margin: 20px 0 10px;display: flex;">
        <div class="image-cropper">
            <img [src]="dialogData?.author?.thumbnail" width="60" height="60">
        </div>
        <div style="margin: 10px 0 0 20px;">
            <div style="font-weight:bold;text-align: left;"> Author </div>
            <div style="color:rgb(0, 149, 255);font-weight: bold;"> {{dialogData?.author?.firstName}} {{dialogData?.author?.lastName}}</div>
        </div>
    </div>
    </div>
  </div>
  <div style="text-align:left;margin-top:40px;">
      <div style="font-weight:bold;margin:5px 0"> Description </div>
      <div>{{dialogData?.description}}</div>
  </div>
</mat-card>
