<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Demo Shop * * * * * * * * * * * -->
<!-- * * * * * * * Usning  ngrx shop + graphQL * * * * * * * * * * -->
<!-- * * * * * * * * * * Hasanul Banna * * * * * * * * * * * -->
<!-- * * * * * * * iamhasanulbanna@gmail.com * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-icon class="nav__icon" svgIcon="book"></mat-icon>
  <span>Book Shop</span>
    <div class="spacer"></div>
    <mat-icon class="nav__icon" svgIcon="shopping"></mat-icon>
</div>

<div class="content" role="main">

</div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer>
  Hasanul Banna © 2022
</footer>
