<mat-card class="card-div" *ngIf="inputcard">
    <img (click)="openDialog()" [src]="inputcard?.thumbnail" width="100">
    <div style="margin-top:10px; min-height: 38px;cursor: pointer;" (click)="openDialog()">{{inputcard?.title | slice:0:35 }}</div>
    <div style="display:flex;justify-content:center;margin-top: 5px;">
        <div class="title-price">{{inputcard?.price}}{{inputcard?.currency}}</div>
        <button mat-button><mat-icon class="nav__icon" svgIcon="cart"></mat-icon></button>
    </div>
</mat-card>
